svg(width='830', height='830', viewBox='0 0 24 25')
  each room in boardData.rooms
    defs 
      pattern(id=room.name, height='100%', width='100%', patternContentUnits='objectBoundingBox')
        - var href='/images/rooms/' + room.name + '.png';
        image(height='1', width='1', preserveAspectRatio='none', href=href)
    g(id=room.name + '-group')
      - var points = '';  
      each pos in room.points
        - points += pos + ' ';
      polygon(id=room.id, points=points, class='room', fill='url(#' + room.name + ')')
      if room.secretPassage 
        - var passage = room.secretPassage;
        rect(id=passage[0] + '-' + passage[1] , x=passage[0], y=passage[1], class='secret-passage')
      - var position = room.playerGroup;
      g(transform='translate(' + position[0] + ' ' + position[1] + ')')

  each tile in boardData.tiles
    rect(x=tile[0], y=tile[1], class='tile',id=tile[0] + '-' + tile[1])

  each startingTile in boardData.startingTiles
    - var pos = startingTile.position;
    rect(x=pos[0], y=pos[1], class='starting-tile',id=pos[0] + '-' + pos[1])

  filter(id='inset-shadow')
    feOffset(dx='0', dy='0')
    feGaussianBlur(stdDeviation='1', result='offset-blur')
    feComposite(operator='out', in='SourceGraphic', in2='offset-blur', result='inverse')
    feFlood(flood-color='white', flood-opacity='0.5', result='color')
    feComposite(operator='in', in='color', in2='inverse', result='shadow')
    feComposite(operator='over', in='shadow', in2='SourceGraphic')
