//- Accuse-Popup
article(id='accuse-popup')
  header 
    h2 ACCUSE
  form(class='selected-cards' id='accused-cards')
    div(class='suit')
      select(name='characters' id='characters')
        each char in cards.characters
          option(value=char) #{char}
      div(class='card')
        img(src='images/scarlett.png')
    
    div(class='suit')
      select(name='rooms' id='rooms')
        each room in cards.rooms
          option(value=room) #{room}
      div(class='card')
        img(src='images/kitchen.png')
    
    div(class='suit')
      select(name='weapons' id='weapons')
        each weapon in cards.weapons
          option(value=weapon) #{weapon}
      div(class='card')
        img(src='images/revolver.png')
  
  div(class='popup-options')
    div(class='btn' id='accuse-btn') ACCUSE
    div(class='btn' id='accuse-cancel') CANCEL

//- Accuse-Result-Popup
article(id='accuse-result-popup')
  header 
    h2 RESULT OF ACCUSATION
  div(id='accusation-msg')
  div(class='cards-combo')
    - for (var x = 0; x < 3; x++)
        div(class='card')
  div(id='accuse-result-msg')

//- Suspect-Popup
article(id='suspect-popup')
  header 
    h2 SUSPECT
  form(class='selected-cards' id='suspected-cards')
    div(class='suit')
      select(name='characters' id='characters')
        each char in cards.characters
          option(value=char) #{char}
      div(class='card')
        img(src='images/scarlett.png')
    
    div(class='suit')
      select(name='weapons' id='weapons')
        each weapon in cards.weapons
          option(value=weapon) #{weapon}
      div(class='card')
        img(src='images/revolver.png')

    div(class='suit' id='selected-room')
      div(class='card')
        img(src='images/kitchen.png')
  
  div(class='popup-options')
    div(class='btn' id='suspect-btn') SUSPECT
    div(class='btn' id='suspect-cancel') CANCEL

//- Suspect-Result-Popup
article(id='suspect-result-popup')
  header 
    h2 RESULT OF SUSPICION
  div(id='turn-order')
  div(id='suspicion-msg')
  div(class='cards-combo')
    - for (var x = 0; x < 3; x++)
        div(class='card')
          div(class='mark fa-solid fa-ban hidden')

//- Game-Over-Popup
article(id='game-over-popup')
  header 
    h2 GAME OVER
  div(class='winner-message') 
  div(class='popup-options')
    form(action='/game/leave' method='post') 
      button(class='btn' id='play-again-btn') PLAY AGAIN
    div(class='btn' id='quit-btn') 
      a(href='/logout') QUIT   